.artcomponentstyle {
    width: 85%;
    min-height: 100vh;
    margin: 0 auto;
    text-align: left;
}

.artcomponentstyle .mainArtContent{
    width: 100%;
    border-left: 20px solid #834346;
    border-bottom: 20px solid #834346;
    font-size: 28px;
    background-color: rgb(180, 182, 190);
    margin:30px;
}

.artcomponentstyle .mainArtContent .spacerArt{
    padding: 40px 0;
}

.artcomponentstyle .mainArtContent .artCategorySelector {
    text-align: center;
}


.artcomponentstyle .mainArtContent .artCategorySelector div {
    width: 33.33%;
    padding:10px 20px;
    border: 5px solid black;
    border-bottom: none;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    cursor: pointer;
}

.artcomponentstyle .mainArtContent .artCategorySelector div:nth-of-type(1).show {
    border-left:none;
    border-top-left-radius: 0px;
}
.artcomponentstyle .mainArtContent .artCategorySelector div:nth-of-type(3).show {
    border-right:none;
    border-top-right-radius: 0px;
}

.artcomponentstyle .mainArtContent .artCategorySelector div.show{
    font-weight: bolder;
    font-size: 32px;
}

.artcomponentstyle .mainArtContent .artCategorySelector div.hide{
    border-bottom: 2px solid black;
    background-color: rgb(131, 132, 136);

}



.artcomponentstyle .mainArtContent .artSelectedContent {
    margin:50px;
}

.artcomponentstyle .mainArtContent .artSelectedContent div.show{
    display: block;
}

.artcomponentstyle .mainArtContent .artSelectedContent div.hide{
    display: none;
}


.artcomponentstyle .mainArtContent .artSelectedContent .artFolderTitle {
    font-weight: bolder;
    text-decoration: underline;
    margin: 20px 0;
    margin-left:30px;
    font-size: 42px;
}
.artcomponentstyle .mainArtContent .uploadArtDivImg {
    border-bottom: 2px solid rgba(0, 0, 0, 0.349);
    padding-bottom: 50px;
    margin-bottom: 100px;
}


.artcomponentstyle .mainArtContent  .infoImgDiv {
    justify-content: space-between;
    text-align: center;
}
.artcomponentstyle .mainArtContent  .infoImgDiv p {
    width:20%;
}

.artcomponentstyle .mainArtContent  .infoImgDiv p strong {
    display: block;
}

.artcomponentstyle .mainArtContent .uploadArtDivImg .theImgDiv {
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top:20px;
}

.artcomponentstyle .mainArtContent .uploadArtDivImg .theImgDiv .artImgFrame {
    border:2px solid black;
    width: 16%;
    height:200px;
    background-color: rgb(131, 132, 136);
    overflow: hidden;

}

.artcomponentstyle .mainArtContent .uploadArtDivImg .theImgDiv .artImgFrame img{
    width:100%;
    display: block;
    min-height:100%;
    cursor: pointer;
}

.artcomponentstyle .mainArtContent .artImgLightbox.show {
    width:100%;
    height:100%;
    position: fixed;
    top:0;
    left:0;
    overflow: auto;

    background-color: rgba(0, 0, 0, 0.603);
    z-index: 6464;
}

.artcomponentstyle .mainArtContent .artImgLightbox.hide{
    display:none;
} 


.artcomponentstyle .mainArtContent .artImgLightbox .closeChosenArtImage {
    cursor: pointer;
    padding:30px;
    border: 4px solid white;
    position: absolute;
    top:20px;
    left:95%;
    transform:translateX(-50%);
    width:100px;
    background-color: rgba(0, 0, 0, 0.822);
    z-index: 7000;
    transition: 0.5s;
}

.artcomponentstyle .mainArtContent .artImgLightbox .closeChosenArtImage p {
    color:white;
    font-size: 32px;
    text-align: center;
}

.artcomponentstyle .mainArtContent .artImgLightbox .closeChosenArtImage:hover p {
    text-shadow: 0px 0px 15px rgb(255, 230, 0);
}


.artcomponentstyle .mainArtContent .artImgLightbox .leftArtLightbox {
    position: relative;
    top:100px;
    left:0;
    width:65%;
}

.artcomponentstyle .mainArtContent .artImgLightbox .leftArtRightbox {
    width:35%;
}


.artcomponentstyle .mainArtContent .artImgLightbox .lightboxImgHolder {
    width:100%;
    position: relative;
    top:0;
    left:50%;
    
    
}

.artcomponentstyle .mainArtContent .artImgLightbox .lightboxImgHolder img{

    max-height: 900px;
    max-width:100%;

    transform:translateX(-50%);
    border: 3px solid white;
}

.artcomponentstyle .mainArtContent .artImgLightbox   .lightboxTextdata,  
.artcomponentstyle .mainArtContent .artImgLightbox  .lightboxTextDec {
    color:white;
    border: 3px solid white;
    max-width:100%;
    background-color: rgba(0, 0, 0, 0.795);
    -webkit-box-shadow: 0px 10px 44px 0px rgba(255,242,0,1);
    -moz-box-shadow: 0px 10px 44px 0px rgba(255,242,0,1);
    box-shadow: 0px 10px 44px 0px rgba(255,242,0,1);
    margin:30px;
}



.artcomponentstyle .mainArtContent .artImgLightbox  .lightboxTextDec .lightboxTextContent{
    margin-left:100px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.artcomponentstyle .mainArtContent .artImgLightbox   .lightboxTextdata  {
    font-weight: normal;
    font-size: 24px;
    margin-top: 10px;
    
}

.artcomponentstyle .mainArtContent .artImgLightbox   .lightboxTextdata p {
    margin-left:100px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.artcomponentstyle .mainArtContent .artImgLightbox   .lightboxTextdata ul {
    font-size: 20px;
    margin-left:100px;
    margin-bottom: 40px;

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.artcomponentstyle .mainArtContent .artImgLightbox   .lightboxTextdata ul li {
    width:50%;
    text-shadow: 0px 0px 15px rgb(255, 230, 0); 
    margin-bottom: 10px;
}



.artcomponentstyle .mainArtContent .artImgLightbox  .lightboxtextHolder{
    width:100%;
    height: 100vh;
}

.artcomponentstyle .mainArtContent .artImgLightbox  .lightboxtextHolder .lightboxText{
    color:white;
    border: 3px solid white;
    margin-right:100px;
    margin-top:100px;
    background-color: rgba(0, 0, 0, 0.795);
    -webkit-box-shadow: 0px 10px 44px 0px rgba(255,242,0,1);
    -moz-box-shadow: 0px 10px 44px 0px rgba(255,242,0,1);
    box-shadow: 0px 10px 44px 0px rgba(255,242,0,1);
    }

.artcomponentstyle .mainArtContent .artImgLightbox  .lightboxtextHolder .lightboxText p {
    margin:40px;  
    text-shadow: 0px 0px 15px rgb(255, 230, 0);  
}

.artcomponentstyle .mainArtContent .artImgLightbox  .lightboxtextHolder .lightboxText .lightboxTextContentName {
    font-size: 64px;
    margin:0px;  
    margin-left:40px;
    margin-top:50px;
}

.artcomponentstyle .mainArtContent .artImgLightbox  .lightboxtextHolder .lightboxText .lightboxTextContentTag {
    margin:0px;  
    margin-left:40px;
    margin-bottom:50px;
    font-style: italic;
}



.artcomponentstyle .mainArtContent .artImgLightbox  .lightboxtextHolder .lightboxText .lightboxHeadline {
    font-weight: bolder;
    font-size: 28px;
    margin-bottom: 10px;
}

